@import 'base/all';
@import 'layout/nav';
@import 'layout/nav-mobile';
@import 'layout/hero';
@import 'layout/work';
@import 'layout/footer';

body {
  color: $mainColor;
  font-family: $mainFont;
  overflow-x: hidden;
}
