@import 'base/all';
@import 'components/nav';
@import 'components/nav-mobile';
@import 'components/hero';
@import 'components/work';
@import 'components/work__modal';
@import 'components/about';
@import 'components/footer';

body {
  color: $mainColor;
  font-family: $mainFont;
  overflow-x: hidden;
}
