.hero {
  // background-color: lightgrey;
  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
    // top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
  }
  &__container {
    position: absolute;
    height: 30vh;
    z-index: 2;
    display: flex;
    margin: 18vw;
    padding: 2vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: rgba(255, 255, 255, 0.49);
    // border-radius: 20px;
  }
  &__heading {
    font-size: map-get($fontSize, h1);
    letter-spacing: 0.4em;
    line-height: map-get($lineHeight, h1);
    // position: relative;
    // text-align: center;
    align-self: center;
  }
  &__emphasis {
    font-family: $funkyFont;
    font-size: 2em;
    padding-left: 0.3em;
  }
  &__text {
    font-size: map-get($fontSize, p);
    line-height: map-get($lineHeight, p);
    letter-spacing: 0.1em;
    text-rendering: optimizeLegibility;
  }
}

.carousel {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 90vh;
    // padding: 0 6vw;
  }
  &__item {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    // background-color: lightgrey;
  }
  &__heading {
    font-size: map-get($fontSize, h1);
    letter-spacing: 0.4em;
    line-height: map-get($lineHeight, h1);
  }
  &__text {
    font-size: map-get($fontSize, p);
    line-height: map-get($lineHeight, p);
    letter-spacing: 0.1em;
    text-rendering: optimizeLegibility;
  }
  &__img {
    width: 100%;
  }
}
