.work__wrapper {
  display: flex;
  padding-top: 6em;
  height: 800px;
  max-height: 90vh;
}
.gallery {
  &__container {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    // align-items: center;
  }
  &__item {
    flex-basis: 240px;
    // width: 200px;
    height: 200px;
    background-color: $neutralColor;
    // max-width: $max-width;
    margin-top: 20px;
    // @media screen and #{$desktop} {
    //   width: calc(100% / 3);
    // }
    &--dark {
      background-color: $mainColor;
    }
  }
}
