.gallery {
  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
    max-width: $max-width;
    padding-top: 10vh;
    // @media screen and #{$desktop} {
    //   width: calc(100% / 3);
    // }
  }
}
