.about {
  &__container{
    height: 150vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 40px;
    @include respond-to($desktop) {
      height: 100vh;
      flex-direction: row;
    }
    &-half {
      width: 100%;
      height: 50%;
      background-image: url('../../vendors/img/me.png');
      background-size: cover;
      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
      &--light {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include respond-to($desktop) {
          width: 50%;
          height: 100vh;
        }
      }
      @include respond-to($desktop) {
        width: 50%;
        height: 100vh;
      }
    }
  }

  &__description {
    font-weight: 600;
    text-rendering: optimizeLegibility;
    font-size: calc(0.7em + 2vw);
    line-height: 2em;
    padding: 1em;
  }
  &__note {
    display: block;
    padding: 1em;
    font-size: calc(0.7em + 1vw);
    line-height: 2em;
    a {
      font-weight: 600;
      color: $electricBlue;
    }
    @include respond-to($desktop) {
      padding: 2em;
      font-size: calc(0.4em + 1vw);
    }
  }
  &__dragabble {
    display: none;
    width: 100%;
    height: 100vh;
    opacity: 0.98;
    @include respond-to($desktop) {
      display: block;
      width: 100%;
      height: 100vh;
    }
  }
  &__puzzle {
    height: 100px;
    width: 100%;
    margin: 40px 0;
    color: $neutralColor;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $mainFont;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-rendering: optimizeLegibility;
    z-index: 9999999;
    cursor: move;
    -webkit-box-shadow: 13px 13px 50px -8px rgba(0,0,99,0.69);
    -moz-box-shadow: 13px 13px 50px -8px rgba(0,0,99,0.69);
    box-shadow: 13px 13px 50px -8px rgba(0,0,99,0.69);
    &--dark {
      background-color: $lightAccent;
      color: $mainColor;
    }
    &--blue {
      background-color: $electricBlue;
      color: $neutralColor;
    }
    &--white {
      background-color: $neutralColor;
      color: $mainColor;
    }
    &--red {
      background-color: $accentColor;
      color: $mainColor;
    }
  }
}
