.hero {
  // background-color: lightgrey;
  &__container {
    height: 90vh;
    // background-color: lightgrey;
    // background-image: url('../../vendors/img/hero_2.svg');
    display: flex;
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include respond-to($tablet-portrait) {
      height: 100%;
    }
    @include respond-to($tablet-landscape) {
      // height: 90vh;
    }
    @include respond-to($desktop) {
      // padding-top: 2%;
      height: 90vh;
    }
  }
  &__img {
    padding-top: 15%;
    height: 50%;
    @include respond-to($tablet-portrait) {
      padding: 10% 0 0 0;
      height: 70%;
    }
    @include respond-to($desktop) {
      padding: 0 2%;
      // height: 60%;
    }
  }
  // &-btn__container {
  //   position: relative;
  // }
  &__btn {
    background-color: $electricBlue;
    color: white;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 12px;
    width: 300px;
    height: 50px;
    margin-top: 3em;
    // &:after {
    //   content: url(../../vendors/img/btn_arrow.png);
    //   width: 50px;
    //   height: 50px;
    //   // background-color: $neutralColor;
    //   position: absolute;
    //   margin: 0;
    //   top: 50%;
    //   // bottom: 0;
    //   right: 0;
    //   // left: 0;
    //   // z-index: 99999;
    //   transform: translate(-50%, -50%);
    // }
    &:hover {
      background-color: $accentColor;
      transition: all ease 0.5s;

    }
    @include respond-to($tablet-portrait) {
      margin-top: 0;
    }
  }
  &__link:link,
  &__link:visited,
  &__link:hover,
  &__link:active {
    color: white;
  }
  &__heading {
    font-size: map-get($fontSize, h1);
    letter-spacing: 0.4em;
    line-height: map-get($lineHeight, h1);
    // position: relative;
    // text-align: center;
    align-self: center;
  }
  &__emphasis {
    font-family: $headingFont;
    font-size: 2em;
    padding-left: 0.3em;
  }
  &__text {
    font-size: map-get($fontSize, p);
    line-height: map-get($lineHeight, p);
    letter-spacing: 0.1em;
    text-rendering: optimizeLegibility;
  }
}

.carousel {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    // border: 3em solid $accentColor;
    // height: 90vh;
    // padding: 0 6vw;
  }
  &__item {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    // border: 3em solid $accentColor;
    // background-color: lightgrey;
  }
  &__heading {
    font-family: $headingFont;
    font-size: map-get($fontSize, h1);
    letter-spacing: 0.4em;
    line-height: map-get($lineHeight, h1);
  }
  &__text {
    font-size: map-get($fontSize, p);
    line-height: map-get($lineHeight, p);
    letter-spacing: 0.1em;
    text-rendering: optimizeLegibility;
  }
  &__img {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
}
