.nav {
  // height: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  position: fixed;
  z-index: 3;
  // background-color: $mainColor;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 6vw;
  }
  &__logo {
    width: 12em;
    padding-top: 1em;
    shape-rendering: geometricPrecision;
    // z-index: 10;
    // font-size: map-get($fontSize, h1);
    &__link {
      cursor: pointer;
      z-index: 10;
      // &::after {
      //   content: '';
      //   width: 0;
      //   height: 0;
      //   display: block;
      //   position: absolute;
      //   z-index: 1;
      //   border-radius: 50%;
      //   background-color: $accentColor;
      // }
      // &:hover {
      //   font-family: $superFunkyFont;
      //   color: $accentColor;
      // }
      // &:hover::after {
      //   content: '';
      //   width: 14px;
      //   height: 14px;
      //   display: block;
      //   position: absolute;
      //   z-index: 1;
      //   top: 1.45em;
      //   left: 32vh;
      //   border-radius: 50%;
      //   background-color: $accentColor;
      //   transition: width 0.2s ease-in-out;
      // }
    }
    &__container {
      flex-basis: auto;
    }
  }
  &__links {
    display: flex;
    justify-content: flex-end;
    flex-basis: auto;
  }
  &__link {
    padding: 0 6vw;
    font-size: 0.9em;
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 600;
    letter-spacing: 4px;
    &::after {
      content: '';
      width: 0;
      height: 1px;
      visibility: hidden;
      display: block;
      top: 10px;
      text-align: center;
      // left: -10px;
      position: relative;
      z-index: 1;
      background-color: $electricBlue;
      transition: width 0.5s;

    }
    &:hover::after,
    &:active::after {
      content: '';
      width: 100%;
      visibility: visible;
      display: block;
      transform: scale(2.5);
      // transition: width 0.2s;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: $mainColor;
}
