.nav-mobile {
  position: fixed;
  width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.99);
  @include respond-to($mobile) {
    left: 0;
  }
  &__wrapper {
    // width: 300px;
    // height: 300px;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    // z-index: 3;
  }
  &__links {
    text-align: center;
  }
  &__link {
    // padding: 0 6vw;
    margin: 50px;
    font-size: 0.9em;
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 600;
    letter-spacing: 4px;
    &::after {
      content: '';
      width: 0;
      height: 4px;
      visibility: hidden;
      display: block;
      top: 20px;
      text-align: center;
      // left: -10px;
      position: relative;
      z-index: 1;
      background-color: $electricBlue;
    }
    &:hover::after,
    &:active::after {
      content: '';
      width: 100%;
      visibility: visible;
      display: block;
      transition: width 0.2s;
    }
  }
}
