.work {
  &__wrapper {
    display: flex;
    padding-top: 6em;
    justify-content: center;
    height: 90%;
  }
  &__item {
    height: 240px;
    // margin: 20px 40px;
    padding: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    -webkit-box-shadow: 13px 13px 61px -11px rgba(0,0,99,0.38);
    -moz-box-shadow: 13px 13px 61px -11px rgba(0,0,99,0.38);
    box-shadow: 13px 13px 61px -11px rgba(0,0,99,0.38);
    // &:after {
    //   content: '';
    //   height: 100%;
    //   width: 100%;
    //   background-color: rgba(0, 0, 36, 0.8);
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   z-index: -1;
    //   // opacity: 0.8;
    // }
    &:hover {
      &:after {
        content: '';
        font-family: $headingFont;
        font-size: map-get($fontSize, h1);
        height: 100%;
        width: 100%;
        background-color: $electricBlue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: 0.9;
      }
    }
    // &:hover {
    //   background-color: $accentColor;
    //   // background-image: url("./vendors/img/design_tile.png");
    // }
  }
  &__title {
    font-family: $headingFont;
    font-size: 2em;
    line-height: 1.2em;
    color: $mainColor;
    background-color: white;
    padding: 20px;
  }
  &__tag {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    color: $mainColor;
    // background-color: $neutralColor;
    // padding: 10px;
    // transform: rotate(-90deg);
    transform-origin: -4% 110%;
  }
}

.gallery {
  &__container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    // align-items: center;
  }
  &__item {
    // flex-basis: 240px;
    flex-grow: 1;
    flex-basis: 20vw;
    cursor: pointer;
    // width: 200px;
    height: 240px;
    margin: 20px 40px;
    // padding: 40px;
    // background-color: $electricBlue;
    // max-width: $max-width;
    // margin-top: 20px;
    // @media screen and #{$desktop} {
    //   width: calc(100% / 3);
    // }
    // &:hover {
    //   background-color: $accentColor;
    // }
    &--dark {
      background-color: $mainColor;
    }
  }
}
