@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Croissant+One&subset=latin-ext');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$mainFont: 'Source Sans Pro', sans-serif;
$headingFont: 'Croissant One', cursive;

$fontSize: (
  h1: 2em,
  p: 1em
);

$lineHeight: (
  h1: 2em,
  p: 2em
)
