@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Vampiro+One&subset=latin-ext');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$mainFont: 'Source Sans Pro', sans-serif;
$funkyFont: 'Berkshire Swash', cursive;
$superFunkyFont: 'Vampiro One', cursive;

$fontSize: (
  h1: 2em,
  p: 1em
);

$lineHeight: (
  h1: 2em,
  p: 2em
)
